body {
    min-width: 1200px;
    margin: 0;
    padding-bottom: 50px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;
    background-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active), 
input[type=checkbox].visually-hidden, 
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.container {
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.button-style {
    display: inline-block;    
    box-sizing: border-box;
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.button-style:active {    
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    outline: 0;
}

.universal-button {
    background-color: #fb565a;
}

.universal-button:focus, .universal-button:hover {
    background-color: #e74246;
}

.universal-button:active {
    background-color: #d7373b;
}

.input-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: rgba(68, 68, 68, .5);
    border: 2px solid #d7dcde;
    outline: 0;
}

.input-field:hover {
    border-color: #b4b9bb;
}

.input-field:focus {
    color: #444444;
    border-color: #000000;
}

.input-field:invalid {
    color: #e74246;
    border-color: #e74246;
}

.main-header {
    padding-top: 51px;
    background-color: #eeeeee;
}

.main-logo {
    margin-right: 202px;
    margin-top: -2px;
}

.main-logo[href]:hover img {
    opacity: 0.8;
}

.main-logo[href]:active img {
    opacity: 0.3;
}

.main-navigation, 
.site-navigation {    
    display: flex;
}

.main-navigation {    
    align-items: center;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
}

.site-navigation {    
    flex-wrap: wrap;
    width: 540px;
    padding: 0;
    list-style: none;
    margin: 4px 0 0;
}

.cart {
    margin-top: 4px;
}

.cart li:not(:last-child) {
    margin-right: 46px;;
}

.cart {
    position: relative;
    margin-left: auto;
    padding-left: 41px;
}

.cart::before {
    position: absolute;
    left: 1px;
    top: 16px;    
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-position: 0 0;
}

.cart, 
.site-navigation a {    
    box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
    color: #000000;
}

.cart:focus, 
.cart:hover, 
.site-navigation a:focus, 
.site-navigation a:hover, 
.templates-popup__link:focus h3, 
.templates-popup__link:hover h3 {
    color: #fb565a;
}

.cart:active, 
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3)
}

.cart:not([href]), 
.site-navigation a:not([href]) {
    border-bottom: 2px solid #fb565a;
}

.slider {
    position: relative;
    margin-bottom: 80px;
    background-color: #eeeeee;
}

.switch-container {
    position: absolute;
    left: 50%;
    bottom: 87px;    
    display: flex;
    width: 120px;
    margin-left: -52px;
}

.slider-switch, 
.slider-switch::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.slider-switch {
    display: block;
    margin-right: 1px;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.slider-switch::before {
    position: absolute;
    top: 8px;
    left: 8px;    
    background: #ffffff;
}

.slider-control:nth-of-type(1):focus~.switch-container 
.slider-switch:nth-child(1)::before, 
.slider-control:nth-of-type(2):focus~.switch-container 
.slider-switch:nth-child(2)::before, 
.slider-control:nth-of-type(3):focus~.switch-container 
.slider-switch:nth-child(3)::before {    
    box-shadow: inset 0 0 0 2px #68bbff;
}

.slider-control:nth-of-type(1):checked~.switch-container 
.slider-switch:nth-child(1)::after, 
.slider-control:nth-of-type(2):checked~.switch-container 
.slider-switch:nth-child(2)::after, 
.slider-control:nth-of-type(3):checked~.switch-container 
.slider-switch:nth-child(3)::after {
    position: absolute;
    top: 13px;
    left: 13px;    
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    width: 1160px;
    margin-right: 20px;
    padding: 68px 0 80px;    
    flex-shrink: 0;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0 0 27px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-item p {
    max-width: 430px;
    margin: 0 0 38px;
}

.slider-item__button {
    display: block;
    width: 240px;
    padding: 17px 0;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 3px;
}

.offer-item .button-style:active, 
.slider-item__button:active {
    color: rgba(255, 255, 255, .3);
}

.slider-item:nth-child(1) {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 93% 8px;
}

.slider-item:nth-child(2), 
.slider-item:nth-child(3) {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url(../img/slide3.png);
    background-position: 100% 20px;
}

.slider-control:nth-of-type(1):checked~.slider-list 
.slider-item:nth-child(1), 
.slider-control:nth-of-type(2):checked~.slider-list 
.slider-item:nth-child(2), 
.slider-control:nth-of-type(3):checked~.slider-list 
.slider-item:nth-child(3) {
    display: block
}

.offer-list {    
    display: flex;    
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 30px;
    border-bottom: 2px solid #eeeeee;
    list-style: none;
}

.offer-item {
    position: relative;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 146px;
}

.offer-item::before {
    position: absolute;
    left: 0;
    top: 0;    
    display: block;
    width: 300px;
    height: 146px;
}

.offer-item:nth-child(3n) {
    margin-right: 0;
}

.info h3, 
.offer-item h3 {
    text-transform: uppercase;
    color: #000000;
}

.offer-item h3 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
}

.offer-item p {
    width: 250px;
    margin-bottom: 34px;
}

.offer-item 
.button-style {
    padding: 16px 40px;
}

.offer-sites::before {
    background: #fb565a url(../img/offer-sites.jpg) no-repeat 0 0;
}

.offer-apps::before {
    background: #00ca74 url(../img/offer-apps.jpg) no-repeat 0 0;
}

.offer-apps 
.button-style {
    background-color: #00ca74;
}

.offer-apps 
.button-style:hover {
    background-color: #00bc6c;
}

.offer-apps 
.button-style:active {
    background-color: #00aa62;
}

.offer-presentations::before {
    background: #efc849 url(../img/offer-presentation.jpg) no-repeat 0 0;
}

.offer-presentations 
.button-style {
    background-color: #efc84a;
}

.offer-presentations 
.button-style:hover {
    background-color: #eab534;
}

.offer-presentations 
.button-style:active {
    background-color: #e5a722;
}

.info {    
    display: flex;    
    justify-content: space-between;
    padding-top: 38px;
    margin-bottom: 72px;
}

.info-column--left {
    width: 665px;
}

.info h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.info 
.info-about {
    margin-top: 35px;
    margin-bottom: 33px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: inherit;
}

.info-principles {
    margin-bottom: 39px;
}

.info-order__list {
    padding: 24px 0 0 37px;
    margin: 0;
    list-style: none;
}

.info-order__list li {
    position: relative;
    margin-bottom: 24px
}

.info-order__list li:last-child {
    margin-bottom: 0;
}

.info-order__list li::before {
    position: absolute;
    top: 50%;
    left: -36px;    
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.info-column--right {
    width: 360px;
}

.info-column--right h3 {
    margin: 0 0 50px;
    padding-right: 14px;
    text-align: right;
}

.info-logo {
    margin-bottom: 30px;
}

.info-numbers {
    width: 360px;
    border-spacing: 0;
}

.info-percent {
    padding-right: 19px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}

.info-percent sup {
    font-size: 28px;
}

.info-numbers__criteria {
    padding-top: 10px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
}

.projects {
    margin-bottom: 80px;
}

.projects-list, 
.projects-list li {    
    display: flex;
}

.projects-list {    
    flex-wrap: wrap;
    margin: 0;
    padding: 46px 0 24px;
    list-style: none;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.projects-list li {
    position: relative;   
    justify-content: center;    
    align-items: center;
    width: 260px;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.projects-list li:nth-child(4n) {
    margin-right: 0;
}

.projects-list li:not(:nth-child(4n))::after {
    position: absolute;
    top: 50%;
    right: -20px;    
    width: 2px;
    height: 52px;
    margin-top: -27px;
    background-color: #eeeeee;
}

.projects-list img {
    display: block;
    opacity: 0.2;
}

.projects-list img:hover {
    opacity: 1;
}

.projects-list img:active {
    opacity: 0.1;
}

.main-catalog__title {
    padding-top: 68px;
    padding-bottom: 108px;
    margin-bottom: 55px;
    background-color: #eeeeee;
}

.catalog-name {
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    text-align: center;
}

.filter-list {    
    display: flex;    
    justify-content: space-between;
}

.template-catalog {
    width: 760px;
}

.catalog-form ul, 
.catalog-filter {
    line-height: 20px;
}

.catalog-filter fieldset {
    border: 0;
}

.catalog-filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter 
.button-style {
    width: 260px;
    height: 50px;
    color: #000000;
    background-color: #eeeeee;
}

.pagination-list 
.button-style, 
.catalog-filter 
.button-style {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.pagination-list 
.button-style:hover, 
.catalog-filter 
.button-style:hover {
    background-color: #dfdfdf;
}

.pagination-list 
.button-style:active, 
.catalog-filter 
.button-style:active {
    color: rgba(0, 0, 0, .3);
    background-color: #d5d5d5;
}

.catalog-form fieldset {
    display: block;
    margin: 0;
    padding: 0;
}

.catalog-form ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
}

.catalog-form li {
    margin-bottom: 20px;
    padding-left: 36px;
}

.catalog-form li:last-child {
    margin-bottom: 0;
}

.catalog-form 
.catalog-form__price {
    margin-bottom: 56px;
}

.catalog-form__price legend {
    margin-bottom: 48px;
}

.range-drag {    
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    margin-bottom: 14px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.range-drag--stripe {
    position: relative;    
    box-sizing: border-box;
    width: 212px;
    height: 2px;
    background-color: #00ca74;
    border-right: 60px solid #d7dcde;
}

.range-drag--stripe::after, 
.range-drag--stripe::before {
    position: absolute;    
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px #cccdcd;
    box-shadow: 0 2px #cccdcd;
}

.range-drag--stripe::before {
    left: -5px;
    top: -10px;
}

.range-drag--stripe::after {
    right: -5px;
    top: -10px;
}

.range-drag__input {    
    display: flex;    
    align-items: center;
    width: 260px;
    margin: 0;
}

.range-drag__input label {
    margin-bottom: 2px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.range-drag__input input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 36px;
    padding: 7px 0 7px 5px;
    font: inherit;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
}

.range-drag__input 
.min-price {
    margin-right: auto;
}

.catalog-form 
.filter-block__grid {
    margin-bottom: 45px;
}

.filter-block__features legend, 
.filter-block__grid legend {
    margin-bottom: 16px
}

.filter-block__features label, 
.filter-block__grid label {
    position: relative;
    cursor: pointer;
}

.filter-block__grid label::before {
    position: absolute;
    left: -35px;
    top: -3px;    
    width: 17px;
    height: 17px;
    border: 4px solid #000;
    border-radius: 50%;
    opacity: 0.4;
}

.filter-layout__radio:checked+label::after {
    position: absolute;
    left: -27px;
    top: 5px;    
    width: 9px;
    height: 9px;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.4;
}

.checkbox-filter:focus+label::before, 
.checkbox-filter:not(:disabled):hover+label::before, 
.filter-layout__radio:focus+label::after, 
.filter-layout__radio:focus+label::before, 
.filter-layout__radio:not(:disabled):hover+label::after, 
.filter-layout__radio:not(:disabled):hover+label::before {
    opacity: 1;
}

.checkbox-filter:disabled+label, 
.filter-layout__radio:disabled+label {
    opacity: 0.3;
    cursor: default;
}

.catalog-form 
.filter-block__features {
    margin-bottom: 48px;
}

.checkbox-filter+label::before {
    position: absolute;
    top: -2px;
    left: -35px;
    width: 28px;
    height: 25px;
    background: url(../img/checkbox-off.svg) no-repeat;
    opacity: 0.4;
}

.checkbox-filter:checked+label::before {
    background: url(../img/checkbox-on.svg) no-repeat;
}

.sorting-bar, 
.templates-list {    
    display: flex;    
    justify-content: space-between;
}

.templates-list {    
    flex-wrap: wrap;
    width: 760px;
    padding: 0;
    list-style: none;
    margin-bottom: 28px;
}

.sorting-bar {    
    align-items: flex-start;
    margin-bottom: 52px;
}

.sorting-header {
    margin: 3px 0 0;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sorting-options {
    max-width: 500px;
    padding-top: 1px;
    margin: 0 0 0 auto;
}

.sorting-options a:not(.sorting-arrow) {
    margin-right: 24px;
}

.sorting-arrows a, 
.sorting-options a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    vertical-align: middle;
    opacity: 0.3;
}

.sorting-arrows a:focus, 
.sorting-arrows a:hover, 
.sorting-options a:focus, 
.sorting-options a:hover {
    opacity: 0.6;
}

.sorting-arrows a:active, 
.sorting-options a:active {
    opacity: 1;
}

.sorting-arrows {
    margin: 0;
}

.sorting-arrow {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.sorting-arrow::before {
    position: absolute;
    top: 5px;
    right: 0;    
    border: 6px solid #000;
    border-top-width: 10px;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sorting-arrow--down {
    margin-left: 8px;
}

.sorting-arrow--up::before {    
    transform: rotate(180deg);
}

.templates-item {
    position: relative;
    margin-bottom: 32px;
    padding-top: 41px;
    overflow: hidden;
}

.templates-item::before {
    position: absolute;
    top: 1px;
    left: 0;    
    width: 360px;
    height: 41px;
    background-color: #4d4d4d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.12;
}

.templates-item::after {
    position: absolute;
    top: 14px;
    left: 16px;    
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;    
    box-shadow: 46px 0 0 0 #ffffff, 23px 0 0 0 #ffffff;
}

.templates-item img {
    display: block;
}

.templates-item__popup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    max-height: 545px;
    padding-top: 27px;
    overflow: auto;
    background-color: #eeeeee;
    opacity: 0;    
}

.templates-item:focus-within 
.templates-item__popup {
    opacity: 1;
}

.templates-item:hover 
.templates-item__popup, 
.templates-item:hover::before {
    opacity: 1;
}

.templates-item__popup h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.templates-popup__link:active h3 {
    color: #000000;
    opacity: 0.3;
}

.templates-item__popup p {
    width: 200px;
    margin: 0 auto 30px;
    text-align: center;
    color: #666;
    line-height: 18px;
}

.templates-item__popup .button-style {
    display: block;
    width: 200px;
    height: 50px;
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
}

.pagination-list {    
    display: flex;    
    justify-content: flex-start;    
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 60px;
    list-style: none;
}

.pagination-item {
    display: block;    
    box-sizing: border-box;
    min-width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 17px 21px 21px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    vertical-align: middle;
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
}

.pagination-item:focus, 
.pagination-item:hover {
    background-color: #dfdfdf;
}

.pagination-item:active {
    color: rgba(0, 0, 0, .3);
    background-color: #d5d5d5;
        box-shadow: 0 3px rgba(0, 0, 0, .1) inset;
}

.pagination-item.pagination-item__current {
    padding: 14px 16px 18px;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.pagination-list 
.button-style {
    width: 260px;
    height: 50px;
    padding-top: 17px;
    margin-right: 11px;
    color: #000000;
    text-align: center;
    background-color: #eee;
    border-radius: 2px;
}

.location {
    position: relative;
}

.location iframe {
    width: 100%;
    border: 0;
}

.map-img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    margin-left: -720px;
}

.location-info {
    position: absolute;
    top: 54px;
    left: 50%;
    width: 220px;
    margin-left: -580px;
    padding: 50px 50px 45px;
    background-color: #ffffff;
}

.location-info b {
    display: block;
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.location-info p {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 18px;
}

.location-info__tel {
    text-decoration: none;
    color: #283136;
}

.location-button {
    width: 220px;
    height: 50px;
    padding: 16px 40px;
    margin-top: 19px;
}

.footer-social, .main-footer {    
    display: flex;
}

.main-footer {
    margin-bottom: 70px;
    margin-top: 61px;
}

.footer-social {    
    flex-wrap: wrap;
    width: 261px;
    padding: 0;
    margin: 0 139px 0 0;
    list-style: none;
}

.footer-social li {
    margin-bottom: 10px;
}

.footer-social li:not(:nth-child(3n)) {
    margin-right: 12px;
}

.footer-social__button {    
    display: flex;    
    justify-content: center;    
    align-items: center;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.footer-social__button:focus, 
.footer-social__button:hover {
    background-color: #e74246;
}

.footer-social__button:active {
    background-color: #d7373b;    
    box-shadow: 0 3px rgba(0, 0, 0, .1) inset;
}

.footer-social__button:active img {
    opacity: 0.3;
}

.footer-discount {
    max-width: 650px;
    margin: 7px 0 0;
    color: #444444;
    line-height: 22px;
}

.footer-discount b {
    display: block;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.appontment-form {
    position: fixed;
    left: 50%;
    top: 25%;
    display: none;    
    box-sizing: border-box;
    width: 960px;
    margin-left: -480px;
    padding: 66px 100px 85px;
    background-color: #ffffff;    
    box-shadow: 0 15px 30px -5px #000101;
}


.appontment-form h2 {
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.appontment-form label {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.appontment-form__container {    
    display: flex;
    margin-bottom: 31px;
}

.appointment-field, 
.appointment-letter {    
    box-sizing: border-box;
}

.appointment-field {
    height: 50px;
    margin-right: 40px;
    width: 360px;
    padding: 13px 13px 17px;
    margin-top: 7px;
}

.appointment-letter {
    width: 100%;
    resize: vertical;
    padding: 10px 13px 13px;
    margin-top: 5px;
    margin-bottom: 41px;
}

.appointment-button {
    width: 260px;
    height: 50px;
    padding: 16px 20px;
}

.form-button__close {
    position: absolute;
    top: 78px;
    right: 89px;
    width: 22px;
    height: 22px;
    background: 0 0;
    border: 0;
    opacity: 0.3
}

.form-button__close::after, 
.form-button__close::before {
    position: absolute;
    right: 0;
    top: 10px;    
    width: 27px;
    height: 4px;
    margin-right: -2px;
    background-color: #e74246;
}

.form-button__close::before {    
    transform: rotate(45deg);
}

.form-button__close::after {
        transform: rotate(-45deg);
}

.form-button__close:focus, 
.form-button__close:hover {
    opacity: 1;
}

.form-button__close:active {
    opacity: 0.1;
}

