@-webkit-keyframes zoom {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        color: #e74246;
        border-color: #e74246;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoom {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        color: #e74246;
        border-color: #e74246;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes shake {
    0%, to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%, to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px)
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

@-webkit-keyframes grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active), 
input[type=checkbox].visually-hidden, 
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.container {
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.button-style {
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.button-style:active {
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    outline: 0;
}

.universal-button {
    background-color: #fb565a;
}

.universal-button:focus, 
.universal-button:hover {
    background-color: #e74246;
}

.universal-button:active {
    background-color: #d7373b;
}

.input-field {
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.5);
    border: 2px solid #d7dcde;
    outline: 0;
}

.input-field:hover {
    border-color: #b4b9bb;
}

.input-field:focus {
    color: #444444;
    border-color: #000000;
}

.input-field:invalid {
    color: #e74246;
    border-color: #e74246;
}

.main-header {
    padding-top: 51px;
    background-color: #eeeeee;
}

.main-logo {
    margin-right: 202px;
    margin-top: -2px;
}

.main-logo:hover {
    opacity: 0.8;
}

.main-logo:active {
    opacity: 0.3;
}

.main-navigation, 
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-navigation {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
}

.site-navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 540px;
    padding: 0;
    list-style: none;
    margin: 4px 0 0;
}

.cart {
    margin-top: 4px;
}

.site-navigation li:not(:last-child) {
    margin-right: 46px;
}

.cart {
    position: relative;
    margin-left: auto;
    padding-left: 41px;
}

.cart::before {
    position: absolute;
    left: 1px;
    top: 16px;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/cart-icon.svg);
    background-position: 0 0;
}

.cart, 
.site-navigation a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
    color: #000000;
}

.cart:focus, 
.cart:hover, 
.site-navigation a:focus, 
.site-navigation a:hover, 
.templates-item__link:focus h3, 
.templates-item__link:hover h3 {
    color: #fb565a;
}

.cart:active, 
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.cart:not([href]), 
.site-navigation a:not([href]) {
    border-bottom: 2px solid #fb565a;
}

.slider {
    position: relative;
    margin-bottom: 80px;
    background-color: #eeeeee;
}

.switch-container {
    position: absolute;
    left: 50%;
    bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    margin-left: -52px;
}

.slider-switch, 
.slider-switch::before {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.slider-switch {
    display: block;
    margin-right: 1px;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.slider-switch::before {
    position: absolute;
    top: 8px;
    left: 8px;
    content: "";
    background: #ffffff;
}

.slider-control:nth-of-type(1):focus~.switch-container 
.slider-switch:nth-child(1)::before, 
.slider-control:nth-of-type(2):focus~.switch-container 
.slider-switch:nth-child(2)::before, 
.slider-control:nth-of-type(3):focus~.switch-container 
.slider-switch:nth-child(3)::before {
    -webkit-box-shadow: inset 0 0 0 2px #68bbff;
    box-shadow: inset 0 0 0 2px #68bbff;
}

.slider-control:nth-of-type(1):checked~.switch-container 
.slider-switch:nth-child(1)::after, 
.slider-control:nth-of-type(2):checked~.switch-container 
.slider-switch:nth-child(2)::after, 
.slider-control:nth-of-type(3):checked~.switch-container 
.slider-switch:nth-child(3)::after {
    position: absolute;
    top: 13px;
    left: 13px;
    content: "";
    width: 4px;
    height: 4px;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    display: none;
    width: 1160px;
    margin-right: 20px;
    padding: 68px 0 80px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0 0 27px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slider-item p {
    max-width: 430px;
    margin: 0 0 38px;
}

.slider-item__button {
    display: block;
    width: 240px;
    padding: 17px 0;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    border-radius: 3px;
}

.offer-item .button-style:active, 
.slider-item-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.slider-item:nth-child(1) {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 93% 8px;
}

.slider-item:nth-child(2), .slider-item:nth-child(3) {
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url(../img/slide3.png);
    background-position: 100% 20px;
}

.slider-control:nth-of-type(1):checked~.slider-list 
.slider-item:nth-child(1), 
.slider-control:nth-of-type(2):checked~.slider-list 
.slider-item:nth-child(2), 
.slider-control:nth-of-type(3):checked~.slider-list 
.slider-item:nth-child(3) {
    display: block;
}

.offer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 30px;
    border-bottom: 2px solid #eeeeee;
    list-style: none;
}

.offer-item {
    position: relative;
    width: 300px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding-top: 146px;
}

.offer-item::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    display: block;
    width: 300px;
    height: 146px;
}

.offer-item:nth-child(3n) {
    margin-right: 0;
}

.info h3, 
.offer-item h3 {
    text-transform: uppercase;
    color: #000000;
}

.offer-item h3 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
}

.offer-item p {
    width: 250px;
    margin-bottom: 34px;
}

.offer-item .button-style {
    padding: 16px 40px
}

.offer-sites::before {
    background: #fb565a url(../img/offer-sites.jpg) no-repeat 0 0;
}

.offer-apps::before {
    background: #00ca74 url(../img/offer-apps.jpg) no-repeat 0 0;
}

.offer-apps
.button-style {
    background-color: #00ca74;
}

.offer-apps 
.button-style:hover {
    background-color: #00bc6c;
}

.offer-apps 
.button-style:active {
    background-color: #00aa62;
}

.offer-presentations::before {
    background: #efc849 url(../img/offer-presentation.jpg) no-repeat 0 0;
}

.offer-presentations 
.button-style {
    background-color: #efc84a;
}

.offer-presentations 
.button-style:hover {
    background-color: #eab534;
}

.offer-presentations 
.button-style:active {
    background-color: #e5a722;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 38px;
    margin-bottom: 72px;
}

.info-column--left {
    width: 665px;
}

.info h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.info .info-about {
    margin-top: 35px;
    margin-bottom: 33px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: inherit;
}

.info-principles {
    margin-bottom: 39px;
}

.info-order__list {
    padding: 24px 0 0 37px;
    margin: 0;
    list-style: none;
}

.info-order__list li {
    position: relative;
    margin-bottom: 24px;
}

.info-order__list li:last-child {
    margin-bottom: 0;
}

.info-order__list li::before {
    position: absolute;
    top: 50%;
    left: -36px;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.info-column--right {
    width: 360px;
}

.info-column--right h3 {
    margin: 0 0 50px;
    padding-right: 14px;
    text-align: right;
}

.info-logo {
    margin-bottom: 30px;
}

.info-numbers {
    width: 360px;
    border-spacing: 0;
}

.info-numbers--percent {
    padding-right: 19px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    color: #000000;
}

.info-numbers--percent sup {
    font-size: 28px;
}

.info-numbers__criteria {
    padding-top: 10px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
}

.projects {
    margin-bottom: 80px;
}

.projects-list, 
.projects-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.projects-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 46px 0 24px;
    list-style: none;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.projects-list li {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 260px;
    margin-right: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.projects-list li:nth-child(4n) {
    margin-right: 0;
}

.projects-list li:not(:nth-child(4n))::after {
    position: absolute;
    top: 50%;
    right: -20px;
    content: "";
    width: 2px;
    height: 52px;
    margin-top: -27px;
    background-color: #eeeeee;
}

.projects-list img {
    display: block;
    opacity: 0.2;
}

.projects-list img:hover {
    opacity: 1;
}

.projects-list img:active {
    opacity: 0.1;
}

.page-name-wrapper {
    padding-top: 68px;
    padding-bottom: 108px;
    margin-bottom: 55px;
    background-color: #eeeeee;
}

.page-name {
    margin: 0;
    font-size: 55px;
    font-weight: 500;   
    line-height: 55px;
    color: #000000;
    text-align: center;
}

.filter-list-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.templates-preview {
    width: 760px;
}

.filter-form ul, 
.templates-filter {
    line-height: 20px;
}

.templates-filter fieldset {
    border: 0;
}

.templates-filter legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.templates-filter 
.button-style {
    width: 260px;
    height: 50px;
    color: #000000;
    background-color: #eeeeee;
}

.pagination-list 
.button-style, 
.templates-filter 
.button-style {
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}

.pagination-list 
.button-style:hover, 
.templates-filter 
.button:hover {
    background-color: #dfdfdf;
}

.pagination-list 
.button-style:active, 
.templates-filter 
.button-style:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
}

.filter-form 
fieldset {
    display: block;
    margin: 0;
    padding: 0;
}

.filter-form ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
}

.filter-form li {
    margin-bottom: 20px;
    padding-left: 36px;
}

.filter-form li:last-child {
    margin-bottom: 0;
}

.filter-form 
.filter-form-price {
    margin-bottom: 56px;
}

.filter-form-price legend {
    margin-bottom: 48px;
}

.range-drag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 260px;
    height: 80px;
    margin-bottom: 14px;
    border-radius: 5px;
    background-color: #eeeeee;
}

.range-drag-stripe {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 212px;
    height: 2px;
    background-color: #00ca74;
    border-right: 60px solid #d7dcde;
}

.range-drag-stripe::after, 
.range-drag-stripe::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px #cccdcd;
    box-shadow: 0 2px #cccdcd;
}

.range-drag-stripe::before {
    left: -5px;
    top: -10px;
}

.range-drag-stripe::after {
    right: -5px;
    top: -10px;
}

.range-drag-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 260px;
    margin: 0;
}

.range-drag-inputs label {
    margin-bottom: 2px;
    margin-right: 12px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.range-drag-inputs input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 36px;
    padding: 7px 0 7px 5px;
    font: inherit;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    background-color: #eeeeee;
    border: 0;
    border-radius: 3px;
}

.range-drag-inputs 
.min-price {
    margin-right: auto;
}

.filter-form 
.filter-form-grid {
    margin-bottom: 45px;
}

.filter-form-features legend, 
.filter-form-grid legend {
    margin-bottom: 16px;
}

.filter-form-features label, 
.filter-form-grid label {
    position: relative;
    cursor: pointer;
}

.filter-form-grid label::before {
    position: absolute;
    left: -35px;
    top: -3px;
    content: "";
    width: 17px;
    height: 17px;
    border: 4px solid #000000;
    border-radius: 50%;
    opacity: 0.4;
}

.grid-filter-radio:checked+label::after {
    position: absolute;
    left: -27px;
    top: 5px;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #000000;
    border-radius: 50%;
    opacity: 0.4;
}

.features-filter-checkbox:focus+label::before, 
.features-filter-checkbox:not(:disabled):hover+label::before, 
.grid-filter-radio:focus+label::after, 
.grid-filter-radio:focus+label::before, 
.grid-filter-radio:not(:disabled):hover+label::after, 
.grid-filter-radio:not(:disabled):hover+label::before {
    opacity: 1;
}

.features-filter-checkbox:disabled+label, 
.grid-filter-radio:disabled+label {
    opacity: 0.3;
    cursor: default;
}

.filter-form 
.filter-form-features {
    margin-bottom: 48px;
}

.features-filter-checkbox+label::before {
    position: absolute;
    top: -2px;
    left: -35px;
    content: "";
    width: 28px;
    height: 25px;
    background: url(../img/checkbox-off.svg) no-repeat;
    opacity: 0.4;
}

.features-filter-checkbox:checked+label::before {
    background: url(../img/checkbox-on.svg) no-repeat;
}

.sorting-bar, .templates-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.templates-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 760px;
    padding: 0;
    list-style: none;
    margin-bottom: 28px;
}

.sorting-bar {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    margin-bottom: 52px;
}

.sorting-header {
    margin: 3px 0 0;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.sorting-options {
    max-width: 500px;
    padding-top: 1px;
    margin: 0 0 0 auto;
}

.sorting-options a:not(.sorting-arrow) {
    margin-right: 24px;
}

.sorting-arrows a, .sorting-options a {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    vertical-align: middle;
    opacity: 0.3;
}

.sorting-arrows a:focus, 
.sorting-arrows a:hover, 
.sorting-options a:focus, 
.sorting-options a:hover {
    opacity: 0.6;
}

.sorting-arrows a:active, 
.sorting-options a:active {
    opacity: 1;
}

.sorting-arrows {
    margin: 0;
}

.sorting-arrow {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 15px;
    margin-bottom: 2px;
    vertical-align: middle;
}

.sorting-arrow::before {
    position: absolute;
    top: 5px;
    right: 0;
    content: "";
    border: 6px solid #000000;
    border-top-width: 10px;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sorting-arrow-down {
    margin-left: 8px;
}

.sorting-arrow-up::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.templates-item {
    position: relative;
    margin-bottom: 32px;
    padding-top: 41px;
    overflow: hidden;
}

.templates-item::before {
    position: absolute;
    top: 1px;
    left: 0;
    content: "";
    width: 360px;
    height: 41px;
    background-color: #4d4d4d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0.12;
}

.templates-item::after {
    position: absolute;
    top: 14px;
    left: 16px;
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 46px 0 0 0 #ffffff, 23px 0 0 0 #ffffff;
    box-shadow: 46px 0 0 0 #ffffff, 23px 0 0 0 #ffffff;
}

.templates-item img {
    display: block;
}

.templates-item-popup {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 360px;
    max-height: 545px;
    padding-top: 27px;
    overflow: auto;
    background-color: #eeeeee;
    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.templates-item:focus-within 
.templates-item-popup {
    opacity: 1;
}

.templates-item:hover 
.templates-item-popup, 
.templates-item:hover::before {
    opacity: 1;
}

.templates-item-popup h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.templates-popup-link:active h3 {
    color: #000000;
    opacity: 0.3;
}

.templates-item-popup p {
    width: 200px;
    margin: 0 auto 30px;
    text-align: center;
    color: #666666;
    line-height: 18px;
}

.templates-item-popup 
.button-style {
    display: block;
    width: 200px;
    height: 50px;
    padding-top: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 60px;
    list-style: none;
}

.pagination-item {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 17px 21px 21px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    vertical-align: middle;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 2px;
}

.pagination-item:focus, 
.pagination-item:hover {
    background-color: #dfdfdf;
}

.pagination-item:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item.pagination-item-current {
    padding: 14px 16px 18px;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.pagination-list 
.button-style {
    width: 260px;
    height: 50px;
    padding-top: 17px;
    margin-right: 11px;
    color: #000000;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 2px;
}

.location {
    position: relative;
}

.location 
iframe {
    width: 100%;
    border: 0;
}

.map-img {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    margin-left: -720px;
}

.location-info {
    position: absolute;
    top: 54px;
    left: 50%;
    width: 220px;
    margin-left: -580px;
    padding: 50px 50px 45px;
    background-color: #ffffff;
}

.location-info b {
    display: block;
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

.location-info p {
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 18px;
}

.location-info--tel {
    text-decoration: none;
    color: #283136;
}

.location-button {
    width: 220px;
    height: 50px;
    padding: 16px 40px;
    margin-top: 19px;
}

.footer-social, .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-footer {
    margin-bottom: 70px;
    margin-top: 61px;
}

.footer-social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 261px;
    padding: 0;
    margin: 0 139px 0 0;
    list-style: none;
}

.footer-social li {
    margin-bottom: 10px;
}

.footer-social li:not(:nth-child(3n)) {
    margin-right: 12px;
}

.footer-social__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 79px;
    height: 79px;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.footer-social__button:focus, 
.footer-social__button:hover {
    background-color: #e74246;
}

.footer-social__button:active {
    background-color: #d7373b;
    -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.footer-social__button:active img {
    opacity: 0.3;
}

.footer-tegline {
    max-width: 650px;
    margin: 7px 0 0;
    color: #444444;
    line-height: 22px;
}

.footer-tegline b {
    display: block;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.appointment-form {
    position: fixed;
    left: 50%;
    top: 25%;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 960px;
    margin-left: -480px;
    padding: 66px 100px 85px;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 30px -5px #000101;
    box-shadow: 0 15px 30px -5px #000101;
}

.appointment-form--show {
    display: block;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-animation-name: grow;
    animation-name: grow;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.appointment-form h2 {
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 45px;
    line-height: 45px;
    color: #000
}

.appointment-form label {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.appointment-form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 31px;
}

.appointment-field, 
.appointment-letter {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.appointment-field {
    height: 50px;
    margin-right: 40px;
    width: 360px;
    padding: 13px 13px 17px;
    margin-top: 7px;
}

.appointment-letter {
    width: 100%;
    resize: vertical;
    padding: 10px 13px 13px;
    margin-top: 5px;
    margin-bottom: 41px;
}

.appointment-button {
    width: 260px;
    height: 50px;
    padding: 16px 20px;
}

.appointment-button--close {
    position: absolute;
    top: 78px;
    right: 89px;
    width: 22px;
    height: 22px;
    background: 0 0;
    border: 0;
    opacity: 0.3;
}

.appointment-button--close::after, 
.appointment-button--close::before {
    position: absolute;
    right: 0;
    top: 10px;
    content: "";
    width: 27px;
    height: 4px;
    margin-right: -2px;
    background-color: #e74246;
}

.appointment-button--close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.appointment-button--close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.appointment-button--close:focus, 
.appointment-button--close:hover {
    opacity: 1;
}

.appointment-button--close:active {
    opacity: 0.1;
}

.appointment-form--animation, 
.appointment-form--error {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.appointment-form--animation {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    border-color: red;
    -webkit-animation-name: zoom;
    animation-name: zoom;
}

.appointment-form--error {
    -webkit-animation-name: shake;
    animation-name: shake;
}