body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;    
    text-align: left;
    background-color: #ffffff;
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
     box-sizing: inherit;
}
  
a {
    text-decoration: none;
}

.main-header {
    background-color: #eeeeee;
}

.main-header-logo[href]:hover img {
    opacity: 0.8;
}

.main-logo[href]:active img {
    opacity: 0.3;
}

.main-navigation {
    line-height: 30px;
    font-weight: 500;
    color: #000000;
}

.site-navigation {
    width: 540px;
    list-style: none;
}

.cart, 
.site-navigation a {
    text-transform: uppercase;
    color: #000000;
}

.cart:hover, 
.site-navigation a:hover {
    color: #fb565a;
}

.cart:active, 
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

/*--*/

.offer-list {
    list-style: none;
}

.offer-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.offer-style {
    width: 300px;
    height:146px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.item__img--red {
    background-color: #fb565a;
    background-image: url("../img/illustration-1.jpg");
}

.item__img--green {
    background-color: #00ca74;
    background-image: url("../img/illustration-2.jpg");
}

.item__img--yellow {
    background-color: #efc849;
    background-image: url("../img/illustration-3.jpg");
}

.button-style {
    text-transform: uppercase;
    color:#ffffff; 
    width: 160px;
    height: 50px;    
} 
    
.offer__button--red {     
    background-color: #fb565a;
}
  
.offer__button--red:hover {
    background-color: #e74246;
}
  
.offer__button--red:active {
    color: rgba(255, 255, 255, 0.3);  
    background-color: #d7373b;
}
  
.offer__button--green {  
    width: 160px;
    height: 50px;     
    background-color: #00ca74;  
}
  
.offer__button--green:hover {
    background-color: #00bc6c;
}
  
.offer__button--green:active {
    color: rgba(255, 255, 255, 0.3);  
    background-color: #00aa62;
}
  
.offer__button--yellow {     
    background-color: #efc84a;
}
  
.offer__button--yellow:hover {
    background-color: #eab534;
}
  
.offer__button--yellow:active {
    color: rgba(255, 255, 255, 0.3);  
    background-color: #e5a722;
}

/*--*/

.filter fieldset {
    margin: 0;
    padding: 0;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-grid label {
    cursor: pointer;
}

.filter-grid label::before {
    border: 4px solid #000000;
    border-radius: 50%;
    opacity: 0.4;
}

.layout-group-radio:checked+label::after {
    background-color: #000000;
    border-radius: 50%;
    opacity: 0.4;
}

.layout-group-radio:focus+label::before, 
.layout-group-radio:focus+label::after, 
.layout-group-radio:not(:disabled):hover+label::before, 
.layout-group-radio:not(:disabled):hover+label::after {
    opacity: 1;
}

.layout-group-radio:disabled+label {
    opacity: 0.3;
}

.filter-features label {
    cursor: pointer;
}

.checkbox-filter:not(:disabled):hover+label::before, 
.checkbox-filter:focus+label::before {
    opacity: 1;
}

.checkbox-filter:disabled+label {
    opacity: 0.3;
}

.checkbox-filter:checked+label::before {
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
}

.checkbox-filter:disabled+label, 
.layout-group-radio:disabled+label {
    cursor: default;
}

/*--*/

.templates-item::before {
    background-color: #4d4d4d;
    opacity: 0.12;
}

.template-item::after {
    background-color: #ffffff;
    border-radius: 50%;
}

.template-item img {
    display: block;
}

.template-item:hover {
    opacity: 1;
}

.template-item:hover::before {
    opacity: 1;
}

/*--*/

.social {
    list-style: none;
}

.footer-social__button {
    width: 79px;
    height: 79px;
    list-style: none;
    text-align: center;
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 60px;
}

.footer-social__button:hover, 
.footer-social__button:focus {
    background-color: #e74246;
}

.footer-social__button:active {
    background-color: #d7373b;
}

.footer-social__button img {
    opacity: 0.3;
}

.footer-tegline {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #444444;
}

.footer-tegline span {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
}

.popup-letter {
    display: none;
}